<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Créer votre flotte</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Créer-votre-flotte.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "SOLIDECC",
		"logo": "images/War_Simulator-removebg-preview.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Créer votre flotte">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-black u-clearfix u-header u-header" id="sec-ac78"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="http://127.0.0.1:3000/views/Home.html" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <img src="images/War_Simulator-removebg-preview.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Créer-une-partie.html" style="padding: 10px 20px;">Créer une partie</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Rejoindre-une-partie.html" style="padding: 10px 20px;">Rejoindre une partie</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Créer-votre-flotte.html" style="padding: 10px 20px;">Créer votre flotte</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Jouer.html" style="padding: 10px 20px;">Jouer</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Créer-une-partie.html">Créer une partie</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Rejoindre-une-partie.html">Rejoindre une partie</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Créer-votre-flotte.html">Créer votre flotte</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Jouer.html">Jouer</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-4a1d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
          <form id="create-vessel-form">
            <div class="u-form-group u-form-name u-label-top">
              <label for="player-name" class="u-label">Ton pseudo :</label>
              <input type="text" id="player-name" name="player_name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
            </div>
            
              <label for="game-id" class="u-label">Identifiant de la partie</label>
              <input type="number" id="game-id" name="game_id" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
            
            
              <label for="vessel-type" class="u-label">Choisir le type de vaisseau :</label>
              <div class="u-form-select-wrapper">
                <select id="vessel-type" name="vessel_type" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="required">
                  <option value="Cruiser">Cruiser</option>
                  <option value="Destroyer">Destroyer</option>
                  <option value="Frigate">Frigate</option>
                  <option value="Submarine">Submarine</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class="u-form-group u-form-name u-label-top">
              <label for="vessel-x" class="u-label">X :</label>
              <input type="number" id="vessel-x" name="x" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-name u-label-top">
              <label for="vessel-y" class="u-label">Y :</label>
              <input type="number" id="vessel-y" name="y" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-name u-label-top">
              <label for="vessel-z" class="u-label">Z :</label>
              <input type="number" id="vessel-z" name="z" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-top">
              <a href="#" class="u-btn u-btn-submit u-button-style">Valider</a>
              <input type="submit" value="Valider" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <button id="manage-fleet" class="u-border-2 u-border-grey-75 u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">Charger ma flotte

        </button>
        <script >
          var button = document.getElementById('manage-fleet')
          button.addEventListener('click', function() {
            
    
  });
        </script>
        <div class="u-table u-table-responsive u-table-1">
          <table class="u-table-entity">
            <colgroup>
              <col width="16.6%">
              <col width="16.6%">
              <col width="16.6%">
              <col width="16.6%">
              <col width="17%">
              <col width="16.6%">
            </colgroup>
            <thead class="u-black u-table-header u-table-header-1">
              <tr style="height: 46px;">
                <th class="u-border-1 u-border-black u-table-cell">Vessel</th>
                <th class="u-border-1 u-border-black u-table-cell">Coords</th>
                <th class="u-border-1 u-border-black u-table-cell">Resistance</th>
                <th class="u-border-1 u-border-black u-table-cell">Weapon</th>
                <th class="u-border-1 u-border-black u-table-cell">Ammo</th>
                <th class="u-border-1 u-border-black u-table-cell">Range</th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 98px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="Jouer.html" class="u-border-2 u-border-grey-75 u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-3">Jouer !</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-bc99">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    
    
    
    
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a868"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">SHIP OPS OFFICIAL 2022</p>
      </div></footer>
  
</body></html>